.spacer {
    flex: 1 1 auto;
}

mat-sidenav {
    width: 200px;
    padding: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

mat-sidenav button {
    text-align: left;
}

mat-sidenav button icon {
    padding-right: 1.5em;
}

.content {
    padding: 1rem;
}

h2 {
    font-size: 120%;
}