<p>wifiConnected: {{ state.wifiConnected }}</p>
<p>tempSet: {{ state.tempSet }}</p>
<p>tempCurrent: {{ state.tempCurrent }}</p>
<p>humCurrent: {{ state.humCurrent }}</p>
<p>presCurrent: {{ state.presCurrent }}</p>
<p>tempTrend: {{ state.tempTrend }}</p>
<p>humTrend: {{ state.humTrend }}</p>
<p>presTrend: {{ state.presTrend }}</p>
<p>holding: {{ state.holding }}</p>
<p>heatOn: {{ state.heatOn }}</p>
<p>coolOn: {{ state.coolOn }}</p>
<p>fanOn: {{ state.fanOn }}</p>
<p>datetime: {{ state.datetime }}</p>
